<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz" lang="en"
     layout:decorate="template"
>
<head>
<meta charset="utf-8">
<title>Form User</title>
</head>
<body>
        <div layout:fragment="content">
            <div  class="col-md-4 m-auto mt-3">
                 <div class="card bg-light">
                       <div class="card-heading bg-success text-center">Create User</div>
                       <div class="card-body d=flex justify-content-center">
                             <form th:action="@{/saveUser}" method="post">
	                              <div class="group-form">
	                                    <label for="username">User name: </label>
	                                    <input class="form-control" id="username"  type="text" name="username" 
	                                            aria-describedby="usernameHelp" placeholder="Type username" th:value="${user.username}"/>
	                                    <small id="usernameHelp" class="form-text text-muted">Thanks for writing user name here</small>
	                                     <span th:errors="${user.username}"></span>
	                              </div>
	                              <div class="group-form">
	                                    <label for="email">: </label>
	                                    <input class="form-control" id="email"   type="email" name="email" 
	                                            aria-describedby="emailHelp" placeholder="Type email" th:value="${user.email}"/>
	                                    <small id="emailHelp" class="form-text text-muted">Thanks for writing email here</small>
	                                    <span th:errors="${user.email}"></span>
	                              </div>
	                              <div class="group-form">
	                                    <label for="password">Password: </label>
	                                    <input class="form-control" id="password"   type="password" name="password" 
	                                            aria-describedby="passwordlHelp" placeholder="Type password" th:value="${user.password}"/>
	                                    <small id="passwordlHelp" class="form-text text-muted">Thanks for writing password here</small>
	                                    <span th:errors="${user.password}"></span>  
	                              </div>
	                              <div>
	                                    <button type="submit" class="btn btn-primary mt-2" >SAVE</button>
	                              </div>
	                       </form>
	                       <small class="offset-5"><a class="btn btn-danger mt-1" th:href="@{/index}">Go Back</a></small>
                       </div>
                 </div>
            </div>
      </div>
</body>
</html>