<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz" lang="en"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
     layout:decorate="template"
>
<head>
<title>Bank-home</title>
</head>
<body>
     <div>
        <div layout:fragment="content">
              <div class="d-flex">
          <div class="col-md-6">
	          <div class="card bg-light mb-3 mt-3">
	                <div class="card-heading bg-success text-center">Consultation</div>
	                <div class="card-body">
	                       <form th:action="@{/consultAccount}" method="get">
	                              <div>
	                                    <label>Account Code: </label>
	                                    <input type="text" name="code"  th:value="${code}"/>
	                                    <button type="submit" class="btn btn-primary" >OK</button>
	                              </div>
	                       </form>
	                       <div  class="text-danger" th:if="${exception}"  th:text="${exception.message}">
	                             
	                       </div>
	                 </div>
	          </div>
           
	           <div class="card bg-light" th:if="${account}">
	                 <div class="card-heading bg-success text-center">Account details</div>
	                 <div class="card-body">
	                       <div>
	                            <div>
	                                 <label>First name:</label>
	                                 <label  style="font-weight:bold" th:text="${account.customer.firstName}"></label>
	                            </div>
	                            <div>
	                                 <label>Last name:</label>
	                                 <label  style="font-weight:bold" th:text="${account.customer.lastName}"></label>
	                            </div>
	                            <div>
	                                 <label>Code Account:</label>
	                                 <label  style="font-weight:bold" th:text="${account.code}"></label>
	                            </div>
	                             <div>
	                                  <label>Balance:</label>
	                                  <label  style="font-weight:bold" th:text="${account.balance}"></label>
	                             </div>
	                             <div>
	                                  <label>Date Creation:</label>
	                                  <label  style="font-weight:bold" th:text="${account.dateCreation}"></label>
	                             </div>
	                             <div>
	                                  <label>Type Account:</label>
	                                  <label style="font-weight:bold" th:text="${account.class.simpleName}"></label>
	                             </div>
	                             <div th:if="${account.class.simpleName == 'Checking'}">
	                                   <label>Overdraft:</label>
	                                   <label  style="font-weight:bold" th:text="${account.overDraft}"></label>
	                             </div>
	                             <div th:if="${account.class.simpleName == 'Saving'}">
	                                   <label>Rate:</label>
	                                   <label style="font-weight:bold"  th:text="${account.rate}"></label>
	                             </div>
	                       </div>
	                 </div>
	           </div>
          </div>
     	  <div class="col-md-6" th:if="${account}">
     	    <div sec:authorize="hasRole('ROLE_ADMIN')">
	            <div class="card bg-light mb-3 mt-3">
	              <div class="card-heading bg-success text-center" >Operations</div>
	              <div class="card-body">
	                   <form th:action="@{/saveOperation}" method="post">
			                    <input type="hidden" name="code" th:value="${code}" /> 
		                   <div class="d-flex justify-content-center">
							   <input type="radio" name="operationType" value="Credit"  checked="checked"  
							   onchange="document.getElementById('forTransfer').style.display = 'none'" />
									<label>Credit</label>
							   <input type="radio" name="operationType" value="Debit"  
							   onchange="document.getElementById('forTransfer').style.display = 'none'"  />
									<label>Debit</label>
							   <input type="radio" name="operationType" value="Transfer" 
							   onchange="document.getElementById('forTransfer').style.display = 'block'"  />
									<label>Transfer</label>
						    </div>  
						    <div id="forTransfer" style="display:none">
								<label>Toward:</label>
								<input type="text" name="code2" class="mb-1">
						    </div> 
						    <div>
								<label>Amount : </label>
								<input type="number" name="amount" required/>
						    </div> 
						    <div class="text-danger" th:if="${error}"   th:text="${error.message}">
						    </div>
	                              <input class="btn btn-primary"  type="submit" value="Save"/>
	                       </form>
	              </div>
	             </div>
               </div>
	           <div class="card bg-light">
	                 <div class="card-heading bg-success text-center">List Operations</div>
	                 <div class="card-body">
	                       <table class="table table-striped">
	                           <caption>List operations</caption>
	                            <thead>
	                               <tr>
	                                    <th>Number</th><th>Type</th><th>Date</th><th>Amount</th>
	                               </tr>
	                            </thead>
	                            <tbody>
	                               <tr th:each="operation: ${listOperations}">
	                               <td th:text="${operation.number}"></td>
	                               <td th:text="${operation.class.simpleName}"></td>
	                               <td th:text="${operation.dateOperation}"></td>
	                               <td th:text="${operation.amount}"></td>
	                               </tr>
	                              </tbody>
	                       </table>
	                       <div class="container">
	                            <ul class="nav nav-pills">
	                                <li  th:each="p,status:${pages}">
	                                     <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}" 
	                                     th:href="@{/consultAccount(code=${code},page=${status.index})}"  th:text="${status.index}"></a>
	                                </li>
	                            </ul>
	                       </div>
	                 </div>
	           </div>
     		</div>
      </div>
        </div>
    </div>
</body>
</html>